.attrs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.attrs__item {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.attrs__name {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.04em;
  color: var(--c40);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-basis: 100%;
}

.attrs__values {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.04em;
  color: var(--c90);
  white-space: nowrap;
  flex-grow: 1;
}
.attrs__values sup {
  font-size: 0.5em;
}
/* .attrs__valueItem:not(:last-of-type)::after {
  content: "; ";
} */
.attrs__stock {
  color: #40ac65;
}

@media (max-width: 800px) {
  .attrs__name {
    font-size: 10px;
  }

  .attrs__values {
    font-size: 12px;
  }
}
