.card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "image image"
    "title title"
    "attrs attrs"
    "price action";
  column-gap: 8px;
  background-color: #fbfbfb;
  row-gap: 16px;
  padding-bottom: 16px;
  border: 2px solid #fbfbfb;
  border-radius: var(--radius1);
  box-shadow: -5px 8px 21px 0px rgba(166, 166, 166, 0.1),
    -21px 31px 38px 0px rgba(166, 166, 166, 0.09),
    -48px 71px 51px 0px rgba(166, 166, 166, 0.05),
    -85px 126px 61px 0px rgba(166, 166, 166, 0.01),
    -133px 197px 66px 0px rgba(166, 166, 166, 0);
  overflow: hidden;
}

.card__image {
  grid-area: image;
  position: relative;
  width: 100%;
  aspect-ratio: 556 / 320;
  background-color: #fff;
}

.card__discount {
  position: absolute;
  top: 24px;
  left: 0;
  z-index: 1;
  background-color: #dcefff;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 12px;
  color: var(--main-color);
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.card__stock {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #dcefff;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: #1aca40;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.card__title {
  grid-area: title;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.04em;
  color: var(--c);
  padding: 0 24px;
  height: 108px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  text-overflow: ellipsis;
}

.card__attrs {
  grid-area: attrs;
  border-top: 1px solid rgba(123, 137, 144, 0.12);
  border-bottom: 1px solid rgba(123, 137, 144, 0.12);
  padding: 16px 24px;
}

.card__price {
  grid-area: price;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
.price__title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.04em;
  color: var(--c40);
}
.price__value {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.04em;
  color: var(--c);
}

.card__action {
  grid-area: action;
  padding-right: 24px;
  width: 288px;
  height: 80px;
  box-sizing: content-box;
}

@media only screen and (max-width: 1480px) {
  .card {
    grid-template-areas:
      "image image"
      "title title"
      "attrs attrs"
      "price price"
      "action action";
  }
  .card__price {
    padding: 0 24px;
    flex-direction: row;
  }

  .card__action {
    padding: 0 24px;
    justify-self: center;
  }
}

@media only screen and (max-width: 800px) {
  .card__title,
  .card__attrs,
  .card__price,
  .card__action {
    padding-left: 8px;
    padding-right: 8px;
  }
  .card {
    row-gap: 8px;
    padding-bottom: 0;
    border-width: 0.5px;
  }
  .card__title {
    font-size: 14px;
    line-height: 20px;
    height: 60px;
  }

  .card__price {
    align-items: center;
  }
  .price__title {
    font-size: 12px;
  }
  .price__value {
    font-size: 14px;
  }

  .card__action {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    height: 48px;
  }
  .card__action button {
    font-size: 12px;
    border-radius: var(--radius1);
    padding: 0 16px;
  }
  .card__discount {
    top: 0;
    padding: 4px 8px;
    font-size: 8px;
  }

  .card__stock {
    padding: 4px 8px;
    font-size: 8px;
  }
}
