.consultationPopup,
.consultation {
  background-color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: var(--radius2);
}
.consultation {
  position: relative;
  grid-column: 1 / -1;
  background-image: url("/images/form/plugin-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
  box-shadow: -5px 8px 21px 0px rgba(166, 166, 166, 0.1),
    -21px 31px 38px 0px rgba(166, 166, 166, 0.09),
    -48px 71px 51px 0px rgba(166, 166, 166, 0.05),
    -85px 126px 61px 0px rgba(166, 166, 166, 0.01),
    -133px 197px 66px 0px rgba(166, 166, 166, 0);
  position: relative;
  border: 1px solid #ededed;
}

.consultation__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: var(--c);
}
.consultation__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: var(--c);
}
.consultation__title,
.consultation__subtitle {
  width: 568px;
}
.consultation__button {
  width: 268px;
  height: 64px;
}
@media (max-width: 920px) {
  .consultation__title {
    font-size: 16px;
    line-height: 140%;
  }
  .consultation__subtitle {
    font-size: 14px;
    line-height: 140%;
  }
}
@media (max-width: 600px) {
  .consultation {
    background-size: 700px;
    padding: 24px;
    background-position: left -80px bottom;
    align-items: center;
    text-align: center;
  }
  .consultation__title {
    width: auto;
  }
  .consultation__subtitle {
    margin-bottom: 196px;
    width: auto;
  }
  .consultationPopup .consultation__subtitle {
    margin-bottom: 0;
  }
  .consultation__button {
    width: 100%;
  }
}
@media (max-width: 560px) {
  .consultationPopup {
    padding: 24px 5vw;
  }
}
