.stars {
  width: 120px;
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
}
.stars span {
  clip-path: url(#star-rating);
  width: 17px;
  height: 17px;
}
.stars span:after {
  content: "";
  display: block;
  background-color: #ffc045;
  width: var(--after-width);
  height: 100%;
}
