.blog {
  display: grid;
  grid-template-areas:
    "title rubrics"
    "content content"
    "pagination pagination";
  grid-template-columns: 1fr auto;
  row-gap: 40px;
  column-gap: 40px;
  padding-bottom: 128px;
  align-items: center;
}
.blog__title {
  grid-area: title;
}
.blog__rubrics {
  grid-area: rubrics;
}
.blog__content {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
}
.blog__pagination {
  grid-area: pagination;
  justify-content: end;
}
@media (max-width: 1120px) {
  .blog__content {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 900px) {
  .blog {
    grid-template-areas:
      "title title"
      "rubrics rubrics"
      "content content"
      "pagination pagination";
  }
}
@media (max-width: 760px) {
  .blog__content {
    grid-template-columns: 1fr;
  }
}
