.cart {
  display: grid;
  grid-template-columns: 1fr 32%;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "title title"
    "list form"
    "sum form";
  gap: 8px;
  align-items: start;
}

.cart__title {
  grid-area: title;
  margin-bottom: 40px;
}

.cart__list {
  grid-area: list;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cart__form {
  grid-area: form;
}

.cart__sum {
  grid-area: sum;
}
