.btn {
  padding: 24px 56px;
  border-radius: var(--radius2);
  background-color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  width: auto;
  white-space: nowrap;
}

.btn_active {
  background: #227797;
  color: #fff;
  box-shadow:
    inset 0px -4px 5.7px 0px #1a5d76,
    inset 0px 4px 4.8px 0px #2b94bb,
    0px 7px 14.6px 0px #00000026;
}

@media (max-width: 900px) {
  .btn {
    padding: 16px 24px;
  }
}
