.quiz__buttons {
  display: flex;
  gap: 16px;
}
.quiz__buttons > * {
  flex-grow: 1;
}
.quiz__button {
  aspect-ratio: 240 / 72;
}
.quiz__back {
  order: 1;
}
.quiz__buttons:after {
  order: 2;
  content: "";
  flex-grow: 1;
  flex-basis: 100%;
}
.quiz__forward {
  order: 3;
}

@media (max-width: 700px) {
  .quiz__buttons::after {
    content: none;
  }
}

@media (max-width: 460px) {
  button.quiz__button {
    font-size: 12px;
  }
}
