.tel__icon,
.email__icon {
  color: var(--main-color);
  display: flex;
  position: relative;
  background: var(--brand-gradient);
  width: 32px;
  height: 32px;
  border-radius: var(--radius1);
  align-items: center;
  justify-content: center;
}
.tel__icon > * {
  width: 50%;
  height: 50%;
}

.tel__text,
.email__text {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

.tel,
.email {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (hover: hover) {
  .tel:hover,
  .email:hover {
    color: var(--main-color) !important;
  }
}
