.services {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin-bottom: -56px;
}

.services__title {
  color: #fff;
}

.content {
  display: grid;
  grid-template-areas:
    "services services"
    "card parts"
    "card sum";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  row-gap: 56px;
  column-gap: 80px;
}

.content__servicesList {
  grid-area: services;
  display: flex;
  gap: 16px;
  overflow: auto;
  scrollbar-width: none;
}
.content__card {
  grid-area: card;
  width: 380px;
  border-radius: var(--radius3);
  background-color: #fff;
  overflow: hidden;
}
.content__partsList {
  grid-area: parts;
}
.content__partsSum {
  grid-area: sum;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}

.content__serviceItem {
  padding: 24px 56px;
  border-radius: var(--radius2);
  background-color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  width: auto;
  white-space: nowrap;
}
.content__serviceItem_active {
  background: var(--brand-gradient);
  color: #fff;
}

.content__partsList {
  display: flex;
  flex-direction: column;
}
.content__partsItem {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
.content__partsItem input {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.content__partsItem::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #e3e1dd;
  border-radius: var(--radius1);
  color: #fff;
  padding: 4px;
}
.content__partsItem:has(input:checked)::before {
  content: "\2713";
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.partsItem__name {
  height: 100%;
  padding: 16px 0;
  border-bottom: 1px solid #8bdcf8;
  flex-basis: 70%;
}
.partsItem__price {
  text-align: right;
  flex-grow: 1;
}

.card__img {
  position: relative;
  height: 342px;
  width: 100%;
}
.card__text {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
