.cartForm {
  background-color: #fff;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 296px;
  box-shadow: -5px 8px 21px 0px rgba(166, 166, 166, 0.1),
    -21px 31px 38px 0px rgba(166, 166, 166, 0.09),
    -48px 71px 51px 0px rgba(166, 166, 166, 0.05),
    -85px 126px 61px 0px rgba(166, 166, 166, 0.01),
    -133px 197px 66px 0px rgba(166, 166, 166, 0);
  border-radius: var(--radius2);
  background-image: url("/images/cart/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top 56px center;
}

.cartForm__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/* form */
.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form__field {
  width: 100%;
  height: 64px;
}
.form__comment {
  height: 116px;
}
.form__button {
  height: 64px;
  margin-top: 64px;
}
@media (max-width: 1360px) {
  .cartForm {
    gap: 96px;
    background-position: bottom 64px left;
  }
  .form {
    width: 512px;
  }
}
@media (max-width: 840px) {
  .cartForm {
    gap: 52vw;
    background-position: bottom 428px center;
  }
  .form {
    width: auto;
  }
}
@media (max-width: 660px) {
  .cartForm {
    padding: 24px;
  }
  .cartForm__title {
    font-size: 20px;
  }
  .form__button {
    margin-top: 16px;
  }
}
