.date {
  display: flex;
  align-items: center;
  gap: 24px;
}
.date__icon {
  width: 40px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  border-radius: var(--radius2);
}
.date__text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--c);
}
