.form {
  display: grid;
  grid-template-areas:
    "name phone"
    "comment comment"
    "button agreement";
  gap: 8px;
}
.form__field {
  width: 100%;
  height: 72px;
}
.form__name {
  grid-area: name;
}
.form__phone {
  grid-area: phone;
}
.form__button {
  grid-area: button;
  width: 90%;
}
.form__agreement {
  grid-area: agreement;
  align-self: center;
}
.form__comment {
  grid-area: comment;
  height: 172px;
  width: 100%;
}
.form__button {
  height: 80px;
}

.popupForm {
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 88px 120px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  width: 100%;
  max-width: 900px;
  align-items: stretch;
  justify-content: center;
  overflow-y: auto;
}

.popupForm__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
}

.popupForm__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
}

@media only screen and (max-width: 1020px) {
  .popupForm {
    padding: 56px 72px;
  }
}

@media only screen and (max-width: 900px) {
  .popupForm__title {
    font-size: 24px;
  }
}
@media (max-width: 760px) {
  .form {
    grid-template-areas:
      "name"
      "phone"
      "comment"
      "button"
      "agreement";
  }
  .form__button {
    width: 100%;
  }
  .form__agreement {
    justify-self: center;
    text-align: center;
  }
}

@media only screen and (max-width: 560px) {
  .popupForm {
    padding: 24px 32px;
  }
  .popupForm__title {
    font-size: 18px;
    line-height: 30px;
  }

  .popupForm__subtitle {
    font-size: 14px;
    line-height: 20px;
  }
}
